<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3 cô gái</title>

  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="../../node_modules/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="../../node_modules/slick-carousel/slick/slick-theme.css" />
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.12.7/sweetalert2.css"
    integrity="sha512-sdBlqIXiZQy6Z6WJXrCb6sQ3v1DF0x6qQghP56taypKGGuru3ANBhSFLePvcolfP8xCzVoNvhP8Smm29EH7eMQ=="
    crossorigin="anonymous" />

  <!-- <link rel="stylesheet" type="text/css" href="../../assets/lib/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/slick/slick-theme.css" /> -->
  <!-- // Add the new slick-theme.css if you want the default styling -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" />
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
  <div class="container">
    <div class="header-wrap">
      <div class="row">
        <div class="col-4">
          <ul class="header_info">
            <li><a href="https://www.facebook.com/" class="ion-social-facebook"></a></li>
            <li><a href="https://www.instagram.com/" class="ion-social-instagram-outline"></a></li>
            <li><a href="https://www.youtube.com/" class="ion-social-youtube"></a></li>
          </ul>
        </div>
        <div class="col-4">
          <div class="header_title">
            <div class="header_img">
              <a href="./index1.html">
                <img src="/assets/img/cc0f6669853253.5bbcb71788f2c.gif" alt="My Pham">
              </a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="header__order">
            <form action="" class="form-search">
              <div class="form-group">
                <!-- <input class="form-control" type="text" placeholder="Nhập nội dung tìm kiếm ...">
                <span class="icons ion-android-search"></span> -->
                <div id="home_user" class="user">
                </div>
                <span>
                  <a href="../views/order.html" target="_self" class="cart ion-android-cart"></a>
                  (<span id="count-cart"></span>)
                </span>

              </div>
            </form>

          </div>
        </div>

        <!-- <nav class="main-menu">
          <ul class="d-flex">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Khuyến mãi</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Top bán chạy</a></li>
            <li><a href="#">Bộ sản phẩm</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
  <main>
    <div class="container">
      <div class="banner-intro">
        <h1>CHÀO MỪNG BẠN TRUY CẬP WEBSITE MỸ PHẨM HÀNG ĐẦU VIỆT NAM</h1>
        <p><strong>Thương hiệu mỹ phẩm chính hãng với vô số những mặt hàng chăm sóc và làm đẹp cho da bạn có giá tốt
            nhất trên thị trường mỹ phẩm Việt.</strong></p>
        <p>Để tri ân khách hàng <a href="./index1.html">Mỹ Phẩm Two Peas</a> thực hiện chương trình khuyến mại đặc biệt
          mang tên</p>
        <div class="advertisement-text">
          <h1>Vì bạn xinh đẹp</h1>
          <span>Kính tặng Quý khách voucher 100 nghìn khi mua hóa đơn 500 nghìn.</span>
        </div>
        <br>
      </div>
      <div id="product_category">


      </div>


    </div>
  </main>
  <footer>
    <div class="main-footer">
      <div class="container">
        <div class="row ">
          <div class="bcg-col-3">
            <div class="footer-item">
              <p class="footer-item__title">
                Doanh nghiệp
              </p>
              <div class="text footer-item__content">
                <p>TwoPeas Production and investment trading joint stock company</p>
                <p>Mã số doanh nghiệp: 0107094755 <br /> Giấy phép ĐKKD số: 0107094755</p>
              </div>
            </div>
          </div>
          <div class="bcg-col-3">
            <div class="footer-item">
              <p class="footer-item__title">
                Các loại mỹ phẩm
              </p>
              <div class="footer-item__content list-categories">
                <ul>
                  <li><a href="#">Tẩy trang</a></li>
                  <li><a href="#">Tẩy tế bào chết</a></li>
                  <li><a href="#">Sữa rửa mặt</a></li>
                  <li><a href="#">Tonner</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bcg-col-3">
            <div class="footer-item">
              <p class="footer-item__title">
                Văn phòng
              </p>
              <div class="footer-item__content contact">
                <ul>
                  <li>
                    <span class="icons ion-ios-location"></span>
                    <span class="text">100 Man Thiện, Quận 9</span>
                  </li>
                  <li>
                    <span class="icons ion-ios-location"></span>
                    <span class="text">180 Lê Văn Việt, Quận 9</span>
                  </li>
                  <li>
                    <span class="icons ion-ios-location"></span>
                    <span class="text">365 Điện Biên Phủ, Quận 1</span>
                  </li>
                  <li>
                    <span class="icons ion-ios-location"></span>
                    <span class="text">251 Hàn Thuyên, Quận Thủ Đức</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bcg-col-3">
            <div class="footer-item">
              <p class="footer-item__title">
                Nhà máy
              </p>
              <br>
              <li>
                <span class="text">Sản phẩm được phân phối và sản xuất tại PTITHCM</span>
              </li>
              <div class="footer-item__content contact">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <p class=copyright>© Copyright 2016 twopeas.vn - Nhà cung cấp mỹ phẩm hàng đầu tại Việt
          Nam</p>
      </div>
      <div class="hotline">
        <span class="icons ion-ios-telephone"></span>
        <span class="phone-number">0123 688 3636</span>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>






  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->

  </script>

  <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../node_modules/slick-carousel/slick/slick.min.js"></script>



  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="./../models/SanPham.js"></script>
  <script src="./../services/SanPhamService.js"></script>
  <!-- <script src="./../controllers/main_product.js"></script>   -->
  <!--  -->
  <script src="./../models/LoaiSanPham.js"></script>
  <script src="./../services/LoaiSanPhamService.js"></script>

  <script type="module" src="./../controllers/home_product.js"></script>



  <script>
    $(document).ready(function () {
      // $('.slick-carousel').slick({
      //   dots: true,
      //   nav: true,
      //   infinite: false,
      //   speed: 300,
      //   slidesToShow: 4,
      //   slidesToScroll: 4,
      //   responsive: [
      //     {
      //       breakpoint: 1024,
      //       settings: {
      //         slidesToShow: 3,
      //         slidesToScroll: 3,
      //         infinite: true,
      //         dots: true
      //       }
      //     },
      //     {
      //       breakpoint: 600,
      //       settings: {
      //         slidesToShow: 2,
      //         slidesToScroll: 2
      //       }
      //     },
      //     {
      //       breakpoint: 480,
      //       settings: {
      //         slidesToShow: 1,
      //         slidesToScroll: 1
      //       }
      //     }
      //     // You can unslick at a given breakpoint now by adding:
      //     // settings: "unslick"
      //     // instead of a settings object
      //   ]
      // });
      // nextArrow: $('#next');
    })


  </script>
</body>

</html>